#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    height: 80%;
    width: 90%;
    min-width: 700px;
}

#input-container, #output-container {
    height: 100%;
    width: 49%;
}

#input-controls, #output-controls {
    height: 5%;
    border: 1px solid red;
}

#input-controls {
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
}

#input-display, #output-display {
    height: 95%;
    border: 1px solid green;
}