#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    height: 80%;
    width: 90%;
    min-width: 700px;
}

#input-container, #output-container {
    height: 100%;
    width: 49%;
}

#input-controls, #output-controls {
    height: 5%;
    background-color: rgb(36, 34, 36);
    color: aliceblue;
    font-size: 90%;
}

#input-controls {
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
}

#input-display, #output-display {
    height: 95%;
    border: 1px solid green;
}

.select-container, #languages {
    background-color: inherit;
    color: inherit;
}

#languages {
    border-radius: 5px;
    transition: 0.3s;
}

#languages:hover, #languages:active {
    border: none;
    box-shadow: 0 0 5px white;
    outline: none;
}


